<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script>
    var _paq = window._paq = window._paq || [];
    _paq.push(["setDomains", ["*.iknowhtml.com"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="https://bitbytebit.matomo.cloud/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '7']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src='https://cdn.matomo.cloud/bitbytebit.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
<noscript><p><img referrerpolicy="no-referrer-when-downgrade" src="https://bitbytebit.matomo.cloud/matomo.php?idsite=7&amp;rec=1" style="border:0;" alt="" /></p></noscript>
</head>
<body class="antialiased font-mono flex flex-col min-h-svh" {% if entry is defined %}style="background-color: {{ entry.backgroundColour }}; color: {{ entry.textColour }}; border-color: {{ textColour }};"{% endif %}>

    {% include '_snippets/header' %}

    {% block body %}{% endblock %}

    {% include '_snippets/footer' %}

</body>
</html>