{% extends '_layout' %}

{% block seo %}
  {% set seo = craft.seo.custom(
    "Leaderboard",
    "I ended up creating some Erlich (Silicon Valley HBO) inspired stickers for my first time at Defcon. Why? Because the world needs a bit more fun."
  ) %}
  {{ parent() }}
{% endblock %}

{% set textColour = "#000000" %}

{% set submissions = craft.entries.section('submissions') %}
{% do craft.upvote.sort(submissions) %}

{% block body %}
<main class="flex-grow">

    <article class="pt-10 px-4 w-full md:w-3/4 lg:w-2/3">

        <h1 class="text-3xl font-bold mb-4">Leaderboard</h1>

        <ol>
        {% for item in submissions %}
            <li class="pb-2">
                #{{loop.index}} 
                <a href="{{ item.url }}" class="hover:border-b">{{ item.title }}</a>
                &#123;{{ craft.upvote.tally(item.id) }}&#125;
            </li>
        {% endfor %}
        </ol>
        

    </article>

</main>
{% endblock %}